@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

html {
  background-color: #232A2E;
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  color: #D3C6AA;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #7FBBB3;
}

a:visited {
  color: #D699B6;
}

a:hover {
  color: #DBBC7F;
}

a:focus {
  color: #DBBC7F;
}

a:active {
  color: #E67E80;
}