---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  return [
    { params: { tag: "astro"} },
    { params: { tag: "blogging"} },
    { params: { tag: "c"} },
    { params: { tag: "c++"} },
    { params: { tag: "webdev"} },
    { params: { tag: "docker"} },
    { params: { tag: "osdev"} },
    { params: { tag: "music"} },
  ];
}

const { tag } = Astro.params;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
</BaseLayout>
