---
const socialsURL = "https://linktr.ee/stellaaa.sh"
---
<!-- TODO: Might be nice to have direct icons, instead of offloading my socials to my linktr.ee -->
<footer>
  <p>Follow my adventures on <a href={socialsURL}>my socials</a>!</p>
</footer>
